<div class="content">
  <div class="content-description">
    <h2 class="content-heading">Sign up now to get started!</h2>
    <p class="content-redirect">Already have an account? <a class="content-link" routerLink="/signin">Login</a></p>
  </div>

  <form class="content-form" [formGroup]="formGroup">
    <div class="input">
      <input [ngClass]="{'input-field_error': name.errors && (name.touched || name.dirty)}"
             class="input-field"
             formControlName="name"
             name="name"
             placeholder="Name">
      <div class="input-error" *ngIf="name.errors && (name.touched || name.dirty)">
        {{name.hasError('required') ? 'Name is required.' : null}}
        {{name.hasError('maxlength') ? "Name shouldn't be longer than 40 symbols." : null}}
        {{name.hasError('nameValue') ? 'Name should contain only letters and spaces.' : null}}
      </div>
    </div>
    <div class="input">
      <input [ngClass]="{'input-field_error': email.errors && (email.touched || email.dirty)}"
             class="input-field"
             formControlName="email"
             name="email"
             placeholder="Email address">
      <div class="input-error" *ngIf="email.errors && (email.touched || email.dirty)">
        {{email.hasError('required') ? 'Email is required.' : null}}
        {{email.hasError('email') ? "Should be a valid email." : null}}
        {{email.hasError('duplicatedEmail') ? 'User with such email already exists.' : null}}
      </div>
    </div>
    <div class="input">
      <input [ngClass]="{'input-field_error': password.errors && (password.touched || password.dirty)}"
             type="password"
             class="input-field"
             formControlName="password"
             name="password"
             placeholder="Password">
      <div class="input-error" *ngIf="password.errors && (password.touched || password.dirty)">
        {{password.hasError('required') ? 'Password is required.' : null}}
        {{password.hasError('minlength') ? "Password should be at least 8 symbols long." : null}}
        {{password.hasError('passwordValue') ? "Password should have at least one letter, number and special symbol." : null}}
      </div>
    </div>


    <app-button type="button" (click)="submitForm()" [disabled]="!formGroup.valid || (loading$ | async)" large>Create Account</app-button>
  </form>
</div>