// COLORS
$primary: var(--primary);
$error: var(--error);
$error-meesage-content: var(--error-meesage-content);
$button-disabled-color: var(--button-disabled-color);

$font-color: var(--font-color);
$font-disabled-color: var(--font-disabled-color);
$font-button-color: var(--font-button-color);
$font-neutral-button-color: var(--font-neutral-button-color);


$bg-color: var(--bg-color);
$bg-color-content: var(--bg-color-content);

$toggler-color: var(--toggler-color);
$toggler-bg-color: var(--toggler-bg-color);

$input-outline: var(--input-outline);

$toast-success-bg: var(--toast-success-bg);
$toast-success-font-color: var(--toast-success-font-color);
$toast-error-bg: var(--toast-error-bg);
$toast-error-font-color: var(--toast-error-font-color);

$main-padding-x: 12rem;